{% extends theme('RSSaggregator/rssaggregator_base.html') %}

{% block content %}
<div class="large-12 columns">
    <table class="large-12">
        <thead>
            <tr>Title</tr>
            <tr>Description</tr>
            <tr>Topic URL</tr>
            <tr>Date</tr>
        </thead>
        <tbody>
            {% for topic in topics %}
                <td>{{ topic.title }}</td>
                <td>{{ topic.description }}</td>
                <td>{{ topic.topic_url }}</td>
                <td>{{ topic.date }}</td>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}